SECRET_KEY='django-insecure-l9s(v-a=lu(vk#b+3ng)w0z!uwund2&4&(frux9r(0ckji57_2'

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash